

<div id="WelcomePage">
    <h1>Welcome To the land of CharGar!!!!</h1>
    <p>
      I like to play...
    </p>
<div class="roateMe">
    <div style= 'margin-left:45%; margin-top:10%;'class="cube-container spin">
  <div class="cube">
    <figure class="side front">I like to play</figure>
    <figure class="side back">I like to play</figure>
    <figure class="side left">I like to play</figure>
    <figure class="side right">I like to play</figure>
    <figure class="side top">I like to play</figure>
    <figure class="side bottom">I like to play</figure>
  </div>
</div>
</div>
</div>
